@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: var(--color-white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1;
  max-width: 1180px;
  padding: 5px 10px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  list-style: none;

  padding: 5px 10px;
}
